<!doctype html>
<html style="height: 100%;">

<head>
    <script type="text/javascript" src="../../assets/javascripts/raphael-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../assets/javascripts/justgage-1.1.0.min.js"></script>

    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
    $(document).on('page:load ready', function() {
        var gg1 = new JustGage({
            id: "gg1",
            value: 50,
            min: 0,
            max: 60,
            donut: true,
            gaugeWidthScale: 0.6,
            counter: true
        });

        $(document).on('click', '.gg1_refresh' ,function() {
            gg1.refresh(getRandomInt(0, 60));
        });
    });
    </script>
</head>

<body style='background-color: <%= params[:bgcolor] ? params[:bgcolor] : 'white' %>; height: 100%; margin: 0; padding: 0;'>
    <!-- <div class="container"> -->
    <div>
        <div id="gg1" class="gauge" stype="display: block; position:absolute; bottom:0; top:0; left:0; right:0; margin: 5px 15px 15px 0; overflow: hidden;"></div>
        <a href="#" id="gg1_refresh">Random Refresh</a>
    </div>
</body>

</html>