<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//thingspeak.com/highcharts-3.0.8.js"></script>
    <script type="text/javascript" src="//thingspeak.com/exporting.js"></script>
    <script src="../../assets/javascripts/raphael-2.1.4.min.js"></script>
    <script src="../../assets/javascripts/justgage-1.1.0.min.js"></script>
    <script>
        $(document).on('page:load ready', function(){
            var gg1 = new JustGage({
                id: "gg1",
                value: 50,
                min: 0,
                max: 60,
                donut: true,
                gaugeWidthScale: 0.6,
                counter: true
            });
        });
    </script>

    <%= javascript_include_tag 'application' %>

</head>
<body style='background-color: <%= params[:bgcolor] ? params[:bgcolor] : 'white' %>; height: 100%; margin: 0; padding: 0;'>
  <div>
    <%= image_tag 'ajax-loader.gif', :style => "position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;" %>
  </div>
</body>
</html>