<div id="footer">
  <div class="container">
    <p class="text-muted">

      <span class="hidden-xs pull-left">
        <a href="/docs" title="ThingSpeak Documentation">Documentation</a> |
        <a href="/docs/tutorials/" title="Tutorials on how to use ThingSpeak web services">Tutorials</a> |
        <a href="https://area51.onl/" title="Area51 Project">Area51 Project</a> |
        <a href="http://departureboards.mobi/" title="UK Train Departure Boards">UK Departure Boards</a> |
        <a href="http://uktra.in/" title="UK Train">UK Train</a> |
        <a href="http://blog.retep.org/" title="Blog covering the project">Blog</a>
      </span>
      <span class="pull-right">
        &copy;<%= Time.now.year %> <a href="https://area51.onl" title="Project Area51">Area51</a> -
        running opensourced version of <a href="https://thingspeak.com" title="Open Source Internet of Things" target="_blank">ThingSpeak</a>
      </span>

    </p>
  </div>
</div>

